* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFFFFF;
}

body {
  display: flex;
  justify-content: center;
  color: var(--white);
  font-family: Inter;
}

.card-wrapper{
  background-color: #23252C;
  width: 34.37rem;
  display: flex;
  justify-content: center;
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
}

.card {
    width: 19.81rem;
    border-radius: 0.8rem;
    position: relative;
    background-color: #1A1B21;
}

.image-container{
  width: 317px;
  height: 317px;
  background-image: url('/person.png');
  background-position: 60% 20%;
  background-repeat: no-repeat;
  background-size: 200%;
  border-radius: 0.8rem 0.8rem 0 0;
}

Footer {
  background-color: #161619;
  border-radius: 0 0 0.8rem 0.8rem;
  margin-top: 2rem;
  font-size: 1.56rem;
  color: #918E9B;
}

.icon-container {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1rem 0;
}

.icons{
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 60%;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}